*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: inherit;
    &:visited{
        color: inherit;
    }
}
.row{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}